.terminal-container {
    width: 70%;
    height: 70%;
    background-color: black;
    margin: auto;
    border-radius: 5px 5px 0 0;
}

.terminal-head {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 30px;
    background-color: #c4c4c4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#button1 {
    background-color: #ff4634;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 175px;
    left: 210px;
}

#button2 {
    background-color: #ffe64c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 175px;
    left: 240px;
}

#button3 {
    background-color: #35ff5c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 175px;
    left: 270px;
}

#name {
    text-align: center;
    width: 100%;
    height: 10px;
    padding-top: 8px;
}

#instruction {
    color: red;
    margin-left: 20px;
}

#command-label {
    color: lawngreen;
    margin-left: 15px;
}

.command-input {
    background-color: black;
    color: lawngreen;
    margin-left: 15px;
    font-size: 14px;
    border: none;
}

.output {
    color: yellow;
    font-size: 14px;
    font-weight: 800;
    margin-left: 50px;
    margin-top: 10px;
}

.link {
    color: yellow;
    font-size: 14px;
    font-weight: 800;
    margin-left: 50px;
    margin-top: 10px;
    text-decoration: none;
}